body {
  background-image: url('44.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
h1, h2 {
  text-align:center;font-family:verdana;background-color:powderblue;color:grey;
}
p{
  text-align: justify;font-family:verdana;
}
h3{
  text-align: justify;font-family:verdana;background-color:powderblue;color:grey;
}
