body {
  background-image: url('44.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
h1, h2 {
  text-align:center;background-color:powderblue;color:grey;
}
p{
  text-align: justify;
}
h3{
  text-align: justify;background-color:powderblue;color:grey;
}
ul li {
  text-align: justify;
  
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
